/*@font-face
font-family: HalvettThin;
src: url('../images/HalvettThin.TTF') format('truetype');
}*/
body, html {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #efeff4;
    color: #333;
    font-family: HalvettThin Arial;
    -webkit-user-select: none;
}

input, button, select, a, textarea {
    font-family: 'pinfang';
    color: #333;
    font-size: 1rem !important;
    background-color: none !important;
}

* {
    outline: none;
}

a {
    text-decoration: none;
    color: #333;
}

button, input, select, textarea {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    input[type="text"] {
        border: 0px !important;
    }

*.btn {
    padding: 0.3rem;
    border-radius: 0.45rem;
    height: 2.6rem;
    border: 0px;
    text-align: center;
    line-height: 2.6rem;
    font-size: 1.1rem;
}

input.btn {
    line-height: 1rem !important;
}

button.btn {
    line-height: 1rem !important;
}

div.btn, span.btn, a.btn {
    padding: 0rem;
}

.tcenter {
    text-align: center;
}

.wb {
    display: -webkit-box;
}

.widper10 {
    width: 10%;
}

.widper15 {
    width: 15%;
}

.widper20 {
    width: 20%;
}

.widper30 {
    width: 30%;
}

*.widthree {
    width: 33.333333%;
}

*.widper25 {
    width: 25%;
}

.widper28 {
    width: 28%;
}

*.widper94 {
    width: 94% !important;
}

*.widper95 {
    width: 95% !important;
}

*.widper100 {
    width: 100% !important;
}

.indent {
    text-indent: 0.3rem;
}

.indentb {
    text-indent: 10px;
}

.acenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

.p26 {
    font-size: 1.2rem;
}

.p17 {
    font-size: 1.3rem;
}

.p18 {
    font-size: 1.1rem;
}

.p12 {
    font-size: 0.6rem;
}

.p32 {
    font-size: 3.2rem;
}

.mb10 {
    margin-bottom: 0.625rem;
}

.mt3 {
    margin-top: 0.3rem;
}

.tab {
    border: 1px solid #ff9900;
    border-radius: 0.4rem;
    height: 2rem;
    line-height: 2rem;
    margin: auto;
    margin-top: 1.25rem;
}

    .tab .selected {
        background-color: #ff9900;
        text-align: center;
        color: #fff;
    }

.left {
    border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.right {
    border-radius: 0rem 0.2rem 0.2rem 0rem;
}

.tab .selected a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tab .unselect {
    text-align: center;
}

    .tab .unselect a {
        display: inline-block;
        color: #ff9900;
        width: 100%;
    }

.userhead {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

*.p12 {
    font-size: 0.65rem !important;
}

*.p14 {
    font-size: 0.85rem !important;
}

*.p15 {
    font-size: 0.95rem !important;
}


.corner {
    position: absolute;
    width: 1.2rem;
    height: 1.225rem;
    top: -4px;
    left: -0.84rem;
    background-image: url(../images/corner.png);
    background-size: 1.2rem 1.225rem;
}

.mlrem {
    margin-left: 1.5rem;
}

.mlonerem {
    margin-left: 1rem;
}

.mltworem {
    margin-left: 2rem;
}

.mlthreerem {
    margin-left: 3.8rem;
}

.mlfourrem {
    margin-left: 4rem;
}

.ml2 {
    margin-left: 0.2rem;
}

.mlhalf {
    margin-left: 0.5rem;
}

.mronerem {
    margin-right: 1rem;
}

.mrthreerem {
    margin-right: 3rem;
}

.ml-5 {
    margin-left: -0.5rem;
}

.ml-20 {
    margin-left: -2rem;
}

.s-gift {
    width: 1.6rem;
    height: 1.6rem;
}

.y-font, .current {
    color: #ff9900;
}

.nowrap {
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.g-line {
    line-height: 2.4rem;
}

.c-line {
    line-height: 1.6rem;
}

.mt-onerem {
    margin-top: -1rem;
}

.mt-5 {
    margin-top: 0.5rem;
}

.mt-6 {
    margin-top: -0.3rem;
}

.nodata, .wnodata {
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    height: 15rem;
    -webkit-transform: translateY(30%);
    color: #999;
}

.nodata {
    line-height: 28rem;
}

.wnodata {
    line-height: 6rem;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5.5rem;
    z-index: 20;
    -webkit-transform: translate(-50%,-50%);
    background-image: url(../images/loading.gif);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    line-height: 12rem;
    text-indent: 1rem;
    font-size: 0.85rem;
    color: #999;
}

.nopresant {
    background-image: url(../images/nopresant.png);
}

.noaddress {
    background-image: url(../images/noaddress.png);
}

.nohomework {
    background-size: 100% auto;
    background-image: url(../images/nohomework.png);
}

.nonotice {
    background-size: 70% auto;
    background-image: url(../images/nonotice.png);
    margin-top: -1rem;
}

.noactivity {
    background-size: 60% auto;
    background-image: url(../images/noacticity.png);
}

.noleave {
    -webkit-transform: translateX(0);
    background-size: 60% auto;
    background-image: url(../images/noleave.png);
}

.noprofit {
    -webkit-transform: translateX(0);
    background-size: 60% auto;
    background-image: url(../images/noprofit.png);
}

.noclass {
    -webkit-transform: translateX(0);
    background-size: 100% auto;
    background-image: url(../images/noclass.png);
}

*.tinybtn {
    padding: 0.3rem;
    border-radius: 0.45rem;
    height: 2rem;
    margin: 0.4rem 0.5rem;
    min-width: 4rem;
    border: 0px;
}

.btnwhite {
    background-color: #fff;
    border: 1px solid #ff9900;
    color: #ff9900;
}

.btnnormal {
    background-color: #fff;
    border: 1px solid #fff;
    color: #333;
}

.btnbig {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

.btnmbig {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.btnsmall {
    width: 6rem;
    margin: 0.3rem 0.4rem;
}

.btnyellow {
    background-color: #ff9900;
    color: #fff;
}

.btngray {
    color: #aaa;
    border: 1px solid #aaa !important;
    background-color: #fff;
}

.btndiv {
    width: 86%;
    padding: 0.5rem 0rem;
    margin: auto;
    border-radius: 0.4rem;
}

p {
    margin: 0.4rem auto;
}

.bgwhite {
    background-color: #fff !important;
}

.biggiftimg {
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.pabonerem {
    padding-bottom: 1rem;
}

.partworem {
    padding-right: 2.1rem;
}

.parhalfrem {
    padding-right: 0.5rem;
}

.mlp6 {
    margin-left: 0.4rem;
}

.bb1 {
    border-bottom: 0.0625rem solid #efefef;
}

.bt1 {
    border-top: 1px solid #eee;
}

.btby1 {
    border-top: 1px solid #ff9900;
    border-bottom: 1px solid #ff9900;
}

.converse {
    background-color: #ddf3ff;
    position: relative;
    width: 91%;
    padding: 2%;
    border-radius: 1rem;
    border: 1px solid #9fd3ee;
}

.mlper6 {
    margin-left: 4%;
}

.mlper10 {
    margin-left: 10%;
}

.mlper3 {
    margin-left: 2.5%;
}

.converse:before {
    /*border: 10px solid transparent;
    border-bottom: 10px solid #ddf3ff;*/
    width: 0.8rem;
    height: 0.6rem;
    position: absolute;
    content: ' ';
    top: -0.6rem;
    left: 2rem;
    background-image: url(../images/sanjiao.png);
    background-size: 100% auto;
}

.palr {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pa0 {
    padding: 0 !important;
}

.pal6 {
    padding-left: 0.8rem;
}

.patblr {
    padding: 0.3rem;
}

.patb3 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.pat {
    padding-top: 0.5rem;
}

.pat3 {
    padding-top: 0.3rem;
}

.pat32 {
    padding-top: 32% !important;
}

.btdotted {
    border-top: 1px #ccc dotted;
}

.bbdotted {
    border-bottom: 1px #ccc dotted;
}

.mlper50 {
    margin-left: 50%;
}

.tip {
    border-radius: 1.2rem;
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 0.3rem;
    z-index: 4;
}

.bgblock {
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.2rem;
}

.tright {
    text-align: right;
}

.over-hide {
    overflow: hidden;
}

.bgitem, .adritem {
    width: 96%;
    border: 0px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}

.bgitem {
    height: 3rem;
    max-height: 6.4rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    margin: 0.2rem 0rem;
}

.adritem {
    min-height: 1.6rem;
    line-height: 1.6rem;
}

.hkbgitem {
    width: 96%;
    min-height: 3rem;
    border: 0px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #fff;
}

.moneybgitem {
    width: 97%;
    min-height: 3rem;
    border: 0px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0.1rem;
    padding: 0.2rem auto;
}

.classitem {
    min-height: 3rem;
    line-height: 3rem;
}

.bgtextarea {
    width: 92%;
    height: 7.4rem;
    border: 0px;
    max-height: 7.4rem;
    margin-top: 0.1rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.4rem;
}

.bgiconitem {
    width: 94%;
    height: 2.7rem;
    border: 0px;
    background: none;
    max-height: 6.4rem;
    margin-top: 0.1rem;
    border: 0px;
}

.bgitem select {
    width: 30%;
    height: 2.6rem;
    line-height: 2.6rem;
    border: 1px solid #fff;
    margin: auto 1%;
    color: #ff9900;
    font-size: 1rem;
    background-color: none;
}

.indentbb {
    text-indent: 1rem;
}

input.bgitem {
    border: 0px;
    border-bottom: 1px solid #e6e6e6;
}

*.last {
    border: 0px !important;
}

::-webkit-input-placeholder {
    color: #ccc;
}

.oneline {
    line-height: 3rem;
}

.oneline1-5 {
    line-height: 1.5rem;
}

.imgoneline {
    line-height: 4rem;
}

.inline {
    display: inline-block;
}

.tleft {
    text-align: left;
}

.adrselsect {
    background: url(../images/adrressbg.png) repeat-x;
    height: 0.85rem;
    background-position: top center;
    margin-top: -0.55rem;
}

.overlay, .w-overlay {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
}

.overlay {
    background-color: rgba(3,3,3,.8);
}

.w-overlay {
    background-color: rgba(255,255,255,.6);
}

.selectban-w {
    position: fixed;
    top: 5.375rem;
    left: 0;
    z-index: 100;
}

.popupdiv {
    background-color: #fff;
    position: fixed;
    min-height: 4rem;
    top: 50%;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    -webkit-transform: translateY(-50%);
    border-radius: 0.7rem;
    background-image: url(../images/popbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 120;
    padding-top: 2rem;
    min-height: 7rem;
}

.popcontent {
    width: 86%;
    margin: 1rem auto;
    min-height: 4rem;
    font-size: 1.1rem;
    max-height: 16rem;
    overflow-y: auto;
}

.popbutton {
    padding: 0.3rem;
    display: -webkit-box;
    width: 96%;
    height: 2.4rem;
    border-top: 1px solid #e6e6e6;
    font-size: 1.25rem;
}

    .popbutton a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
    }

.brshadow {
    box-shadow: -1px 0px 0px #e6e6e6 inset;
}

.bryellow {
    box-shadow: -1px 0px 0px #ff9900 inset;
}

.blshadow {
    box-shadow: 1px 0px 0px #e6e6e6 inset;
}

textarea {
    border: 0px;
    font-size: 1rem !important;
}

.hei6rem {
    height: 6rem;
}

.tel {
    text-decoration: underline;
}

.shopul li {
    background-color: #fff;
    margin-right: 1%;
    float: left;
    margin-bottom: 1%;
    height: 13rem;
    /*2016-4-15 zlx */
    width: 49.5%;
    /*2016-4-15*/
}

.productul li {
    margin-right: 1%;
    float: left;
    margin-bottom: 1%;
    height: 10rem;
}

    .productul li:nth-child(3n) {
        margin-right: 0px;
    }

    .productul li:nth-child(3n+1) {
        margin-left: 1%;
    }

.widper49 {
    width: 49%;
}

.widper47 {
    width: 47%;
}

.productul li .imgdiv, .gimgdiv, .timgdiv {
    height: 6rem;
    overflow: hidden;
    max-height: 10rem;
    width: 100%;
    text-align: center;
}

.productul li .imgdiv {
    height: 6.2rem;
}

.shopul li .imgdiv, .shopul li .timgdiv {
    height: 10rem;
    overflow: hidden;
    max-height: 10rem;
    width: 100%;
    text-align: center;
    /*background-color:#fafafa;*/
}

.shopul .imgdiv img, .gimgdiv img {
    height: 100%;
    vertical-align: middle;
}

.productul .imgdiv img {
    margin-top: 0.8rem;
    height: 86%;
}

.productul li {
    box-shadow: 0px 0px 1px #999 inset;
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.imgdiv {
    margin-top: 0.4rem;
}

.nametag {
    position: absolute;
    top: -0.8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    z-index: 200;
    background-color: rgb(255,255,255);
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.3rem;
    color: #333;
    /*min-width:40%;*/
    max-width: 100%;
    font-weight: 400;
}
/*.nametag:before {
    content:'';
    position:absolute;
    top:-5px;
    left:0px;
    z-index:-2;
    width: 0;
    height: 0;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
    border-bottom:6px solid #ff9900;
}*/
.timgdiv img {
    width: 100%;
    vertical-align: middle;
}

.shopul li:nth-child(2n) {
    margin-right: 0px;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.detail img {
    display: block !important;
    width: 100% !important;
    height: auto !important;
}
/*#giftdetail img {
   display:block !important;
   width:100% !important;
   height:auto !important;
}*/
.bottom {
    position: fixed;
    background-color: rgba(255,255,255,.9);
    border-top: 1px solid #ccc;
    bottom: 0px;
    left: 0px;
    z-index: 80;
    width: 100%;
    min-height: 3rem;
    line-height: 3rem;
}

input[type="text"] {
    -webkit-appearance: none;
}

*.btnblock, *.btnwhiteblock {
    -webkit-appearance: none;
    height: 3.1rem;
    line-height: 3rem;
    font-size: 1.2rem;
}

*.btnblock {
    background-color: #ff9900;
    color: #fff;
    border: 0px !important;
}

*.btnwhiteblock {
    border: 0px;
    background-color: #fff;
}

.pabthreerem {
    padding-bottom: 3.5rem;
}

.pabfourrem {
    padding-bottom: 4.5rem;
}

.setdefaultadr, .defaultadr {
    border: 0px;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0.3rem 0rem;
    border-radius: 0.45rem;
    height: 1.4rem;
    margin: 0.4rem 0.7rem;
    min-width: 4rem;
    background-size: 1.1rem;
    text-indent: 1.6rem;
    line-height: 1.4rem;
}

.defaultadr {
    background-image: url(../images/radioon.png);
    color: #ff9900;
}

.setdefaultadr {
    background-image: url(../images/radioout.png);
}

.pointer {
    cursor: pointer;
}

.bgimgitem {
    height: 4rem;
    border-bottom: 1px solid #e6e6e6;
    overflow-x: hidden;
}

.headimg, .listimg {
    width: 3.18rem;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.hkimg {
    width: 3.9rem;
    height: 3.9rem;
    overflow: hidden;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
}

    .hkimg img {
        width: 100%;
        min-height: 3.9rem;
    }

.listimg {
    height: 4.3rem;
}

.h43 {
    height: 4.8rem;
    overflow-y: hidden;
}

    .h43 img {
        min-height: 4.8rem;
    }

.headimg {
    border-radius: 0.3rem;
    max-height: 3.18rem;
    min-height: 3.18rem;
}

.relative {
    position: relative;
    z-index: 16;
}

.toponerem {
    top: 1rem;
}

.icon {
    width: 1.6rem;
    margin-top: 0.7rem;
}

.width16 {
    width: 1.6rem;
}

.scoreicon {
    width: 1.6rem;
}

.seeicon {
    width: 1.2rem;
}

.adricon {
    width: 1.6rem;
    margin-top: 2.7rem;
}

.markyellow {
    background-color: #ff9900;
    color: #fff;
    border-radius: 6rem;
    line-height: 1rem;
    display: inline;
    font-size: 0.85rem;
    padding: 0.2rem;
}

.markgray {
    background-color: #aaa;
    color: #999;
}
/*.delete {
    background-color:#f64646;
    border:0px;
    height:5.6rem;
    margin-top:-0.5rem;
    line-height:5.1rem;
    color:#fff;
    display:block;
    text-align:center
}*/
.delete {
    position: absolute;
    z-index: 0;
    right: 0rem;
    top: 0rem;
    background-color: #f64646;
    border: 0px;
    height: 100%;
    line-height: 5rem;
    color: #fff;
    display: block;
    text-align: center;
    width: 4rem;
}

.carddelete {
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 0px;
    background-color: #f64646;
    border: 0px;
    height: 80%;
    margin-top: 0.5rem;
    line-height: 80%;
    color: #fff;
    display: block;
    text-align: center;
    width: 4rem;
}

.hkdelete {
    position: absolute;
    z-index: 0;
    right: 0px;
    top: -0.45rem;
    background-color: #f64646;
    border: 0px;
    height: 98%;
    margin-top: 0.5rem;
    line-height: 80%;
    color: #fff;
    display: block;
    text-align: center;
    width: 4rem;
}

.carddelete {
    height: 6rem;
    line-height: 6rem;
    right: 0.2rem;
    padding: 0rem 0.2rem;
}

.moveleft {
    -webkit-transform: translateX(-4.4rem);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
}

.moveright {
    -webkit-transform: translateX(0rem);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
}

.movethreeleft {
    -webkit-transform: translateX(-12.1rem);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
}

.movethreeright {
    -webkit-transform: translateX(0rem);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
}

.ntc-imglist img {
    /*position:relative;
    height:12rem;
    max-height:12rem;
    overflow:hidden;*/
    margin: 0.3rem auto;
}

.hasmore {
    position: absolute;
    bottom: 0px;
    right: 0.5rem;
    width: 2.4rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    background-color: rgba(0,0,0,.4);
    color: #fafafa;
    z-index: 10;
    font-size: 0.85rem;
}

.ntc-imglist img {
    width: 100%;
    vertical-align: middle;
    /* -webkit-transform:translateY(-2rem);*/
}

.swiper-slide img {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: -5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.andelete {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.85rem;
    color: #fff;
    padding: 0.3rem 0.6rem;
    left: 50%;
    top: 0.4rem;
    z-index: 200;
}

    .andelete:after {
        border: 0.6rem solid transparent;
        border-top: 0.6rem solid #222;
        width: 0;
        height: 0;
        position: absolute;
        content: ' ';
        bottom: -1.1rem;
        left: 0.6rem;
    }

.mbonerem {
    margin-bottom: 1rem;
}

.gradetable {
    border: 0px;
    /*border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;*/
}

    .gradetable td {
        height: 3rem;
        border: 0px;
        /*border-bottom:1px solid #e6e6e6;*/
    }

.fleft {
    float: left;
}

.choosechild {
    width: 8rem;
    height: 4.2rem;
}

.clear {
    clear: both;
}

.childname {
    position: absolute;
    z-index: 10;
    left: 1.4rem;
    top: 0.2rem;
    border: 1px solid #ff9900;
    width: 5rem;
    padding: 0.5rem 0rem 0.5rem 1.4rem;
    border-radius: 1.65rem;
    text-align: center;
}

.headcurrent .childname {
    background-color: #ff9900;
}

.headcurrent a {
    color: #fff !important;
    display: block;
    width: 100%;
    height: 100%;
}

*.pre, *.next {
    background-color: #fff !important;
    border: 0px;
    background-repeat: no-repeat;
    height: 2rem;
    width: 3rem;
    background-size: 80%;
    display: block;
}

.pre {
    background-image: url(../images/yellowpre.png);
    background-position: right;
}

.next {
    background-image: url(../images/yellownext.png);
    background-position: center;
}

.block {
    display: block;
}

#schedules .sitem:nth-child(2n+1) {
    background-color: rgb(247,243,238);
    line-height: 3rem;
    border-top: 1px solid #e6e6e6;
}

#schedules .sitem:nth-child(2n) {
    background-color: rgb(252,249,245);
    line-height: 3rem;
    border-top: 1px solid #e6e6e6;
}

.br1 {
    border-right: 1px solid #e6e6e6;
}

.btnr1 {
    box-shadow: 1px 0px 0px #f1f1f1;
}

.mtb10 {
    margin: 0.85rem auto;
}

.mt6 {
    margin-top: 0.6rem;
}

.mtb5 {
    margin: 0.45rem auto;
}

.activeitem {
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    margin: 1rem auto;
    min-height: 8rem;
    background-color: #fff;
    padding: 0.2rem;
    padding-bottom: 0.4rem;
    overflow-x: hidden;
}

.a-listimg {
    height: 13rem;
}

.activelistimg {
    height: 13rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.discribe {
    width: 100%;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    color: #fff;
    padding: 0.5rem 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-table;
}

.image {
    width: 5.4rem;
    height: 5.4rem;
    display: inline-block;
    margin: 0.2rem;
    margin-right: 0.6rem;
    padding: 0px;
    text-align: center;
    position: relative;
    overflow-y: hidden;
}

    .image img {
        width: 100%;
        min-height: 5.4rem;
        max-height:5.4rem;
    }

.addimg {
    display: inline-block;
    width: 5.4rem;
    height: 5.4rem;
    max-height:5.4rem;
    background-image: url(../images/addimg.png);
    background-size: 5.4rem 5.4rem;
    background-position: center;
    background-repeat: no-repeat;
}

.searchdiv {
    width: 88%;
    margin: 0.4rem 6%;
    border: 1px solid #eee;
    border-radius: 0.4rem;
    height: 2rem;
    line-height: 2rem;
    text-indent: 0.3rem;
    background-color: #fff;
}

    .searchdiv input {
        border: 0px;
        height: 2rem;
        /*line-height: 2rem;*/
        padding: 0px;
        margin: 0px;
        /*// margin:0px;*/
    }

.bgyellow {
    background-color: #ff9900;
    border: 0px;
    color: #fff;
}

    .bgyellow .br1, .current .br1 {
        border: 0px;
    }

.bgwhite {
    background-color: #fff !important;
}

.bggradient {
    background: -webkit-linear-gradient(top,#ffad33,#ff8d33);
    color: #fff;
}

.ideamoney {
    height: 4rem;
    padding: 1.5rem 0rem;
}

.micon, .moneyicon {
    width: 2rem;
}

.benifit {
    background: -webkit-linear-gradient(top,#ff8d33,#ff6733);
    color: #fff;
    height: 14rem;
}

.payicon {
    width: 1.8rem;
    padding-top: 0.4rem;
    position: absolute;
    z-index: 200;
    left: 1.8rem;
    top: 0.4rem;
}

.buycount {
    width: 2.5rem;
    padding: 0.3rem;
    height: 2rem;
    border: 0px;
    text-align: center;
}

.plus, .minus {
    position: absolute;
    z-index: 200;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    background-color: rgb(241,241,241);
    font-size: 1.4rem;
}

.plus {
    right: 1rem;
    top: 0.6rem;
}

.minus {
    right: 6rem;
    top: 0.6rem;
}

.orderimg {
    width: 6.8rem;
    height: 6.8rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}

    .orderimg img {
        position: absolute;
        width: 84%;
        left: 4%;
        top: 50%;
        -webkit-transform: translateY(-50%);
    }

.unsee, .unseechoose {
    height: 0px;
    width: 0px;
    border: 0px;
    border-color: #fff;
}

    .unsee:after, .unseechoose:after {
        position: absolute;
        height: 1.2rem;
        width: 1.2rem;
        top: 1.2rem;
        left: 0rem;
        content: '';
        background-size: 1.1rem 1.1rem;
        background-position: center;
        background-repeat: no-repeat;
    }

    .unsee:after {
        background-image: url(../images/radioout.png);
    }

    .unseechoose:after {
        background-image: url(../images/radioon.png);
    }

.operate1, .operate2 {
    width: 80%;
    margin: 0.4rem auto;
    height: 1.8rem;
    line-height: 1.8rem;
}

*.cardnumber {
    width: 100%;
    border: 0px;
    height: 3rem;
    line-height: 3rem;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.lh22 {
    line-height: 2.2rem;
}

.lh12 {
    line-height: 1.2rem;
}

.lh16 {
    line-height: 1.6rem;
}

.lh3more {
    line-height: 3.6rem;
}

.lh4 {
    line-height: 4rem;
}

.lh5 {
    line-height: 5rem;
}

.lh7 {
    line-height: 7rem;
}

.selectbank {
    width: 100%;
    /*max-height:22rem;*/
    background-color: #fff;
    border-radius: 0.4rem;
    position: fixed;
    top: 0rem;
    left: 0;
    z-index: 200;
    overflow-y: scroll;
}

.inputpwd {
    border: 0px;
    margin-left: 0.6rem;
    background: none;
    width: 16.5rem;
    height: 2.4rem;
    line-height: 2.8rem;
    border-radius: 0.4rem;
    text-indent: 0.4rem;
    letter-spacing: 1.9rem;
    font-size: 1.5rem;
    /*margin-left:1rem;*/
}

.sblock {
    background-color: none;
    background-image: url(../images/pwdbg.png);
    background-size: 16.5rem 2.6rem;
    width: 16.5rem;
    height: 2.6rem;
    line-height: 2.6rem;
    background-position: 100% 100%;
    margin-left: auto;
    margin-right: auto;
}

.heithreerem {
    height: 3rem;
}

.hei26 {
    height: 2.6rem;
}

.heifiverem {
    height: 5rem;
}

.heisixrem {
    height: 6.2rem;
}

.heitworem {
    height: 2rem;
}

.heisevenrem {
    height: 10rem;
}

.heionerem {
    height: 1rem;
}

.heifourrem {
    height: 4rem;
}

.full {
    width: 100%;
    height: 100%;
}

.idealimg {
    width: 4rem;
    height: 3rem;
    overflow: hidden;
    background-color: #f6f6f6;
}

    .idealimg img {
        width: 100%;
        vertical-align: middle;
        min-height: 3rem;
    }

.overbutton {
    bottom: 10px;
    left: 0px;
    z-index: 300;
    position: absolute;
}

.pab {
    padding-bottom: 0.5rem;
}

.pabs {
    padding-bottom: 0.2rem;
}

.patblrsb {
    padding: 0.15rem 0.5rem;
}

.bankcard {
    border-radius: 0.85rem 0.85rem 0rem 0rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 6rem;
    color: #fff;
    margin-top: 0.5rem;
    padding-bottom: 0.6rem;
}

.color:nth-child(1) .bankcard {
    margin-top: 1rem;
}
/*.color:nth-child(3n+1) .bankcard {
  background-color:#1f67ce;
}
.color:nth-child(3n +2) .bankcard {
  background-color:#c55054;
}
.color:nth-child(3n) .bankcard {
  background-color:#009174;
}*/
.bankadd {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    height: 6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    border-radius: 0.3rem;
    background-color: #fafafa;
}

.link:active {
    background-color: #fafafa;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.btnyellow:hover {
    background-color: #ff8d33;
}

.btnyellow:active {
    background-color: #ff8d33;
}

.btnwhite:hover {
    background-color: #f6f6f6;
}

.btnwhite:active {
    background-color: #f6f6f6;
}
.pwhite {
    color: #fff !important;
}
.bankmore {
    padding: 1rem;
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
}

.bankmorebg {
    background-image: url(../images/yellowmore.png);
}

.bankupbg {
    background-image: url(../images/yellowup.png);
}

.productitem {
    color: #aaa;
    border: 1px solid #aaa;
    background-color: #fff;
    height: 3rem;
    border-radius: 0.45rem;
    padding: 0.3rem;
    text-align: center;
}

.productselect {
    background-color: rgb(255,153,0);
    color: #fff ;
    border: 1px solid rgb(255,153,0);
}
.productselect .y-font {
    color:#fff;
}

.readonly {
    -webkit-user-modify: read-only;
}

.mt20 {
    margin-top: 1.25rem;
}

.mtsevenrem {
    margin-top: 5rem;
}

.mtthreerem {
    margin-top: 3.4rem;
}

.divCurrIdentity, .inmodeldiv {
    /*border: 1px solid #e6e6e6;*/
    /*padding-top: 0.3rem;*/
    /*padding-bottom:0.3rem;*/
    cursor: pointer;
    /*margin:0.2rem auto;*/
    width: 100%;
}

/*.divCurrIdentity:active {
        -webkit-tap-highlight-color: rgba(1,1,1,0);
        background-color: rgba(1,1,1,0);
    }*/
/*.divCurrIdentity {
    height:2.2rem;
    line-height:2.2rem;
}*/
.searbtn {
    height: 2rem;
    width: 2rem;
    background: none;
    background-image: url(../images/search.png);
    background-size: 100% auto;
    background-position:center -0.1rem;
    border: 0px;
    background-repeat:no-repeat
    /*padding: 0rem 0.5rem;*/
}

.model {
    height: 9.5rem;
    width: 50%;
    float: left;
    margin:0;
    position: relative;
    vertical-align: middle;
    background-color: #fff;
    border-bottom:1px solid #eaeaea;
}
.model_choose {
    background-image:url(../images/choice_class_icon.png);
    background-position:96% 96%;
    background-size:2rem;
    background-repeat:no-repeat;
    background-color:rgb(247,247,247);
}
.model:nth-child(2n+1) {
    box-shadow:-1px 0px 0px #eaeaea inset;
}

.model .user_type {
    /*border-radius: 0rem 0rem 0.3rem 0rem;
    font-size: 12px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
    line-height: 20px;
    height: 20px;
    width: 35px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    text-align: center;*/
}

.model label {
    display: block;
}

.model .schoolname{
    height:2.25rem;
}

.inmodel {
    text-align: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 0.3rem 0rem;
}

.sharemodel {
    width: 48%;
}

.inmodel:active {
    background: rgba(230,230,230,.5);
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.inmodeldiv:active {
    background: rgba(255,255,255,1);
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.inmodel span {
    /*display: block;*/
    font-family: Arial;
    line-height: 1.1rem;
    border-radius: 1.5rem;
    padding: 0.15rem 0.3rem;
    position: absolute;
    z-index: 200;
    left: 4.5rem;
    top: 0.7rem;
    background-color: #f64646;
    color: #fff;
    min-width: 0.8rem;
    text-align: center;
    font-size: 0.8rem;
}

.redpoint {
    border-radius: 1.5rem;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    z-index: 100;
    right: 0.3rem;
    top: 0.3rem;
    background-color: #f64646;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
}

.hmbutton {
    border: 0px;
    background-color: #ff9900;
    color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 0.8rem 0rem 0rem 0.8rem;
    position: fixed;
    right: 0px;
    z-index: 200;
}

.sx {
    top: 0.2rem;
}

.bz {
    top: 2.2rem;
}

.brush {
    border: 0px;
    background: none;
    height: 2.4rem;
    width: 2.4rem;
    background-image: url(../images/shuaxin.png);
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.choosespec {
    display: inline-block;
    border-radius: 0.3rem;
    height: 2.4rem;
    min-width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    background-color: rgb(241,241,241);
    margin-top: 0.3rem;
    margin-right: 0.8rem;
    margin-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.coloron {
    background-color: #ff9900;
    color: #fff;
}

.nopay {
    background-image: url(../images/nopay.png);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0.4rem 1rem;
    height: 5rem;
}

.w-font {
    color: #fff;
}

.r-font {
    color: #cc2847;
}

.widper70 {
    width: 70%;
}

.widper32 {
    width: 32%;
}

.widper38 {
    width: 38%;
}

.bone {
    border-bottom: 1px solid #eee;
}

.widper40 {
    width: 40%;
}

.widper50 {
    width: 50%;
}

.widper55 {
    width: 55%;
}

.widper53 {
    width: 53%;
}

*.widper60 {
    width: 60% !important;
}

*.widper66 {
    width: 66% !important;
}

*.widper64 {
    width: 64% !important;
}

*.widper90 {
    width: 90%;
}

*.widper77 {
    width: 80%;
}

*.widper75 {
    width: 75%;
}

.widper8 {
    width: 8%;
}

.wid50 {
    width: 1.8rem;
}
.wid100 {
    width:3.8rem
}
.hei50 {
    height: 1.95rem;
}

.mt10 {
    margin-top: 0.44rem;
}

.mt14 {
    margin-top: 0.9rem;
}

.mt2 {
    margin-top: 0.2rem;
}

.mt0 {
    margin-top: 0rem !important;
}

.abicon {
    position: absolute;
    width: 1.6rem;
    top: 0rem;
    z-index: 1;
    right: 0.4rem;
}

#list, #schedules, #div_service {
    min-height: 20rem;
}

.dormitry {
    display: inline-block;
    width: 30%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 3.6rem;
    /*padding: 0.2rem;*/
    background-color: #fff;
    /*margin: 0.3rem 0% 0rem 0%;*/
    color: #454546;
    -webkit-tap-highlight-color: rgba(220,220,220,0.4);
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0.5rem;
}

    .dormitry:nth-child(3n) {
        border: 0px;
        border-bottom: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        /*margin-left:3%;*/
        /*margin-right:3%;*/
    }
/*.dormitry:nth-child(3n +1) {
  margin-right:1.5%;
  background-color:#ccc;
}*/

input.ckbox {
    width: 0rem;
    height: 0rem;
    border: 0px;
    border-color: #fff;
}

input.ckboxon:after, input.ckboxout:after {
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    top: -0.05rem;
    left: 0rem;
    content: '';
    background-size: 1.1rem 1.1rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
}

input.ckboxout:after {
    background-image: url(../images/checkout.png);
}

input.ckboxon:after {
    background-image: url(../images/checkon.png);
}

.bgyel {
    background-color: #ff9900;
}

.bgname {
    background-color: #ffe58a;
}

.ancancel {
    border-left: 1px solid #888;
}

.heithree {
    height: 3rem;
}

.ozero {
    opacity: 0;
}

.save {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.0);
    position: fixed;
    z-index: 990;
}

.besaving {
    min-width: 6rem;
    position: fixed;
    padding: 0rem 0.2rem;
    min-height: 4rem;
    z-index: 1000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    background-image: url(../images/besaving.gif);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5rem;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    background-color: #000;
}

.normaldelete, .image a {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 90;
    right: 0rem;
    top: 0rem;
}

.bankclose {
    background-image: url(../images/close.png);
    height: 1.8rem;
    width: 1.8rem;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    z-index: 300;
    right: 0;
    top: 0;
}

.radius4 {
    border-radius: 0.4rem;
}

.radius10 {
    border-radius: 2rem;
}

.radiustop0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.b-font {
    color: #333;
}

.patbb {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.bgcircle {
    background: url(../images/sharebg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 3rem;
    line-height: 3rem;
    margin-top: -0.56rem;
}

.mtonerem {
    margin-top: 1rem;
}

.wr {
    -webkit-user-modify: read-write-plaintext-only;
}

.label {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem 0rem;
}

.break {
    word-break: break-all;
}

.yhide {
    overflow-y: hidden;
}


.mt-2 {
    margin-top: -0.15rem;
}

.biggiftimg img {
    width: 100%;
}

.mt26 {
    margin-top: 1.6rem;
}

.undefault {
    background-color: #eaeaea;
    border-color: #ddd;
    color: #888;
}

.heisevenrem img {
    height: 80% !important;
    width: auto !important;
}

.pab0 {
    padding-bottom: 0px;
}

.currentbank {
    color: #ff9900;
}

.bankicon {
    width: 2.2rem;
    height: 2.2rem;
}

.banklisticon {
    position: absolute;
    z-index: 20;
    width: 2.6rem;
    height: 2.6rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%,17%);
}

.keyboard {
    position: fixed;
    z-index: 200;
    bottom: 0rem;
    left: 0;
    background-color: #f0f1f2;
    height: 16rem;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ddd;
    
}

.itemnum {
    padding: 0.8rem 0rem;
    background-color: #fff;
    font-size: 1.5rem;
}

    .itemnum:active {
        background-color: rgba(0,0,0,.1);
        -webkit-tap-highlight-color: rgba(255,255,255,0);
    }

.item:last-child {
    border: 0px;
}

.bgdg {
    background-color: #d2d5db;
}

.keyfinish {
    height: 2.6rem;
    color: #007aff;
    line-height: 2.6rem;
}

.keydelete {
    background-image: url(../images/delete.png);
    background-position:center 30%;
    background-repeat: no-repeat;
    background-size:24% auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 3rem;
}

.hkicon {
    /*height:2rem;*/
    width: 2.7rem;
}

.ml24 {
    margin-left: 2.4rem;
}

.noticeitem {
    width: 3rem;
}

.patb {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bgblue {
    background-color: #7ecef4;
}

.inputclear {
    background-image: url(../images/clear.png);
    height: 3rem;
    width: 3rem;
    background-size: 60%;
    background-position: center;
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    z-index: 20;
    background-repeat: no-repeat;
}

.mb1 {
    margin-bottom: 1rem;
}

.achangevalue {
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #ff9900;
    padding: 0.3rem 0.6rem;
    color: #ff9900;
    margin-top: 0.6rem;
}

.w-font {
    color: #fff;
}

.aclock0, .aclock1, .aclock2, .aclock3 {
    border-radius: 0.5rem;
    height: 0.55rem;
    width: 0.55rem;
}

.aclock0 {
    background-color: #a7abdc;
}

.aclock1 {
    background-color: #ec9ca2;
}

.aclock2 {
    background-color: #9b9be8;
}

.aclock3 {
    background-color: #94d2ec;
}

.aleave, .alate, .amiss {
    position: absolute;
    width: 4rem;
    height: 100%;
    line-height: 5rem;
    background-color: #fafafa;
    z-index: 4;
    top: 0px;
    border-right: #eee 1px solid;
    text-align: center;
    display: block;
}

.alate {
    right: 0rem;
}

.amiss {
    right: 4.06rem;
}

.aleave {
    right: 8.12rem;
}

.bgorange {
    background-color: #ff9900;
    color: #fff;
}

.widper80 {
    width: 80%;
}

.widper85 {
    width: 85%;
}

.widper84 {
    width: 84%;
}

.pullword1, .pullword2 {
    text-align: center;
    line-height: 3rem;
    margin-top: 0.5rem;
    border-top: 1px solid #e6e6e6;
    background-color: rgb(239,239,244);
}

.attdencebg {
    background-image: url(../images/background2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.logitem {
    width: 88%;
    margin-left: 4%;
    padding: 2%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.bggray {
    background-color: #f1f1f1 !important;
}

.btnbgnone {
    background: none;
    border: none;
}

.miniicon {
    width: 1.5rem;
}

.bb2 {
    border-bottom: 2px solid #eee;
}

.bgimgcenter {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.whper100 {
    width: 100%;
    height: 100%;
}

#img {
    height: 100%;
}

.g-font {
    color: #888;
}

.lg-font {
    color: #eee;
}

.prolg-font {
    color: #aaa;
}
/*20160309新增*/
.choose-cbg {
    background-color: #fff4ca;
    height: 4.4rem;
    width: 100%;
}

.btn-choosec {
    height: 2rem;
    line-height: 1.9rem;
    width: 6.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: #ff9900;
    text-align: center;
    text-indent: 0.8rem;
    font-weight: 400;
    text-shadow: 0px 0px 4px rgba(255,153,0,.3);
}

.changeclass {
    background-image: url(../images/changeclass.png);
}

.clearunread {
    background-image: url(../images/clearunread.png);
}

.detailblock, .classbg {
    margin-top: 1rem;
    width: 95% !important;
    border-radius: 0.6rem;
    background-color: #fff;
    margin-left: 2.5%;
    box-shadow: 0px 1px 4px #bbb;
}

.classbg {
    padding-top: 6.8rem;
    background-image: url(../images/kqbg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

    .classbg .btngroup {
        margin-top: -1.5rem;
        padding-left: .625rem;
    }

.gift-block {
    border: 0px;
    box-shadow: 0px 1px 2px #ddd;
}

.detailblock .detailtitle {
    /*background-color:#fdf8c5;*/
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding-bottom: 0.8rem;
}

.dg-font {
    color: #666;
}

.noborder {
    border: 0 !important;
}

.borderblr {
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.bordertlr {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.borderw {
    border: 1px solid #fff;
}

.bgjucis {
    background-image: url(../images/juci1.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}

.bgjucib {
    background-image: url(../images/juci2.png);
    background-repeat: repeat-x;
    background-position: left top;
}

.sminiicon {
    height: 0.5rem;
    width: 0.5rem;
}

.atsearch {
    background-color: #eee;
    height: 2.4rem;
    border-radius: 1rem;
    line-height: 2.4rem;
}

.bb3yellow {
    border-bottom: 3px solid #ff9900;
}

.asminiicon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.6rem;
}

.widper16 {
    width: 16%;
}

.ld-font {
    color: #666;
}

.atten-statue {
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;
    margin-top: -3rem;
    margin-left: -3rem;
    text-align: center;
    line-height: 6rem;
    color: white;
    font-size: 1.4rem;
}

.bgpink {
    background-color: #f47dbb;
}

.bgltyellow {
    background-color: #fbdfb5;
}

.bgatten {
    background-image: url(../images/juci3.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-color: #fef3c9;
}

.bggreen {
    background-color: #b3d465;
}

.p20 {
    font-size: 1.6rem;
}

.bglighty {
    background-color: #fff4ca;
}

.y-line {
    height: 6rem;
    background-color: #ff9900;
    width: 0.1rem;
}

/*2016-03-30*/
.no-effect {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.score-o, .score-c {
    height: 3rem;
    width: 5rem;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.score-o {
    background-image: url(../images/open@2x.png);
}

.score-c {
    background-image: url(../images/down@2x.png);
}

.inputitem {
    border: 0px;
    height: 2.4rem;
    line-height: 2.4rem;
}

.ordertabbg {
    height: 2.6rem;
    line-height: 2.6rem;
    background: url(../images/ordertabbg.png) repeat-x;
    background-position: left bottom;
}

.selectedstatus span, .selectedstatus a {
    color: #cc2847;
    border-bottom: 2px solid #cc2847;
    padding-bottom: 0.4rem;
}

.selectedstatus a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.score-head {
    position: fixed;
    top: 0px;
    left: 0px;
    /*height: 7.1rem;*/
    z-index: 200;
    width: 100%;
}

.mt11rem {
    margin-top: 12rem;
}

.gift-head {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.gitem-head {
    background-image: url(../images/giftbg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*box center 2016-4-12 zlx*/
.box-center {
    display: box;
    display: -webkit-box;
    box-pack: center;
    -webkit-box-pack: center;
}

.bgitem:last-child {
    border: 0;
}
/*2016-4-12*/
/*删除按钮和赠送用户面板收起  2016-4-13 zlx*/
.receive-relative {
    position: relative;
}

.receive-more {
    position: absolute;
    bottom: 0.3rem;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: url('../images/tianjia.png')no-repeat center/100%;
    z-index: 1;
}

.line-clamp-inherit {
    -webkit-line-clamp: inherit;
}

.receive-more-active {
    background: url('../images/jianshao.png')no-repeat center/100%;
}

.receive-box {
    position: relative;
    padding-right: 2.5rem;
}

.receive-user-del {
    position: absolute;
    padding: 0.8rem;
    right: 0.3rem;
    bottom: 0.3rem;
    background: url('../images/shanchu.png')no-repeat center/100%;
    background-size: 90% 90%;
    background-position: center;
}
/*2016-4-13*/
a.lg-font:active {
    background-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.palonehalf {
    padding-left: 1.5rem;
}

.paronehalf {
    padding-right: 1.5rem;
}

.in-focus {
    position: absolute;
    z-index: 100;
    background: url(../images/foucus.gif) center no-repeat;
    right: 0px;
    top: 50%;
    height: 1rem;
    width: 2px;
    -webkit-transform: translateY(-50%);
}

.mlper8 {
    margin-left: 8%;
}

#giftdetail p img {
    width: 100% !important;
    height: auto !important;
}
/*2016421 zlx 积分设置*/
.icon-absolute {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
}

.control-absolute {
    position: absolute;
    top: 0.2rem;
    right: 1.4rem;
}
/*2016421 */

.show {
    display: block;
}
/*2016428 zlx 去掉子元素空白*/
.trim {
    letter-spacing: -4px;
    word-spacing: -4px;
    font-size: 0;
}
/*2016428*/
/*2016429 zlx 新添加  选择服务对象  列表css*/
.checkbox-item {
    top: 1.5rem;
    left: 0.5rem;
}

.widper95 {
    width: 95px;
}
/*2016429 */

.wrap {
    word-break: break-all;
}
/*家校沟通背景*/
.classimg {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 3;
    vertical-align: bottom;
}

.classhead {
    position: absolute;
    top: 2rem;
    z-index: 4;
}

.classtitle {
    margin: 7.5% 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px #ce972c;
}
/*家校沟通背景*/
/*校务通知*/
.noticehead {
    top: 1rem;
}
/*校务通知*/
.statisticshead {
    margin-left: 2.5%;
    width: 95%;
}

@media screen and (min-width:320px) and (max-width:374px) {
    .classhead {
        top: 1rem;
    }

    .noticehead {
        top: .2rem;
    }
}

.orient-vertical {
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.flex2 {
    -webkit-box-flex: 2;
    box-flex: 2;
}
/*成绩统计 底部线条背景*/
.bgline {
    background-image: url(../images/fenge.png);
    background-size: 100% auto;
}
/*成绩统计*/
/*详情页面新增css*/
.hkdetail_head {
    position: absolute;
    width: 100%;
    z-index: -1;
    right: 0;
    top: 0;
}

.bghkdetail {
    background-image: url(../images/hkdetail_foot.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 10rem;
}
/*礼物详情背景*/
.gift_detailbg {
    background-color: #f7fdfd;
}

.mtb1rem {
    margin: 1rem auto;
}

.overflowX {
    overflow-x: hidden;
}
/*批量删除*/
@-webkit-keyframes aminated {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 6%;
        opacity: 1;
    }
}

@-webkit-keyframes delHide {
    0% {
        margin-left: .5rem;
        width: 6%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        width: 0;
        opacity: 0;
    }
}

.del-item {
    display: -webkit-box;
    -webkit-animation: aminated .5s forwards;
    animation: aminated .5s forwards;
}

.del-hide {
    -webkit-animation: delHide .5s forwards;
    animation: delHide .5s forwards;
}
/*批量删除*/

/*课程表详情*/
.lineh-inherit {
    line-height: inherit !important;
}

.schedule-item {
    width: 46%;
    padding: 1rem 2%;
    line-height: 1.5rem;
}
/*课程表详情 2016617*/
.resign {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.6rem;
    border: 0px;
    line-height: 3rem;
    background-color: #fafafa;
    border-top: 1px solid #eaeaea;
    color: #ff7c6b;
    font-weight: bold;
    z-index: 50;
}

.resign_icon {
    background-image: url(../images/qiandaoicon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 2rem;
}

.posbr {
    position: absolute;
    right: 0.6rem;
    bottom: 0.3rem;
    z-index: 2;
    color: #b55106;
    text-shadow: 0px 0px 4px #fff;
    font-family: Arial,HalvettThin;
}

.posbottom {
    position: fixed;
    left: 0;
    bottom: -0.6rem;
    z-index: 50;
    box-shadow: 0px -1px 2px #e6e6e6;
}
/*2016-06-21*/
.arright {
    position: fixed;
    width: 1rem;
    height: 1.6rem;
    background-image: url(../images/next.png);
    background-position: center;
    background-size: auto 100%;
    bottom: 1.6rem;
    right: 0.5rem;
    z-index: 60;
    background-repeat: no-repeat;
}

.widper18 {
    width: 18%;
}

.dis-table {
    display: table;
}

.wid4 {
    width: 64px !important;
}

.v-middle {
    display: table-cell;
    vertical-align: middle;
}

.ex-name, .h-th-left {
    position: absolute;
    top: 3.1rem;
    left: 0;
    z-index: 60;
}

.ex-section {
    position: relative;
    margin-top: 110px;
}

.tb-left {
    position: absolute;
    top: 3.6rem;
    left: 0;
    z-index: 20;
}

.tb-right, .h-th-right {
    position: absolute;
    left: 0%;
    top: 0;
    overflow-x: hidden;
    z-index: 1;
}

.th {
    position: fixed;
    top: 0;
    left: 28%;
    z-index: 60;
}

.h-th {
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 60;
}

.ex-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
}

/*考试成绩列表*/
.subitem {
}

.exambtn {
}
/*成绩录入*/
.class_title {
    padding: .5rem 0 .5rem 5%;
}

.btn-group {
    color: #666666;
}

.tw {
    position: relative;
    width: 5rem;
    line-height: inherit !important;
    height: 3.2rem;
    border-right: 1px solid #e6e6e6;
}

.e_title , .fake_title {
    width: 19.875rem;
    height: 3rem;
    background-color: #fedea3;
    border: 1px solid #eeeeee;
    overflow: hidden;
}
.fake_title {
    position:fixed;
    top:0px;
    left:0px;
    z-index:19;
    width:6.5rem;
}
    .e_title .tw:first-child {
        width: 6.5rem;
        position: absolute;
        background: #fedea3;
        z-index:9;
    }

    .e_title .tw:nth-child(2) {
        margin-left:6.5rem;
    }

.content {
    display: -webkit-box;
    -webkit-box-pack: justify;
    min-width: 19rem;
}

.name {
    width: 6.5rem;
    /*height: 20rem;*/
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
}

    .name > .tw {
        width: 6.4rem;
    }

.body {
    /*height: 20rem;*/
    /*-webkit-box-flex: 2;*/
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
}

.tc999 {
    color: #999;
}

.tw > input {
    position: absolute;
    width:5rem;
    top: 0rem;
    left: 0rem;
    bottom:0;
    border:0;
    z-index: 4;
    background-color: transparent;
}


.tn {
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    color: #f6f0e5;
    font-size: 1.25rem;
}

#schedules .sitem:nth-child(2n) .tw {
    background-color: rgb(252,249,245);
}

#schedules .sitem:nth-child(2n+1) .tw {
    background-color: rgb(247,243,238);
}

#schedules .sitem:nth-child(2n+1) .tn {
    color: #f2ece1;
}

.bac {
    -webkit-box-align: center;
}

.bai {
    -webkit-box-align: inherit;
}

.close {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.table{
}
.epostop {
   position:fixed;
   top:0px;
   left:0px;
   z-index:9
}
.hide {
    display: none;
}
.lion {
position:absolute;
z-index:50;
opacity:0.2;
height:100%;
right:1.5rem;
top:0
}
.line-clamp3 {
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.line-clamp2 {
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.justify{
    justify-content:center;
    -webkit-justify-content:center;
}
.invisible {
    opacity:0
}
.pubdate {
    min-width:3rem;
}
.widper150 {
    width:150%;
}