.c-item {
    display:-webkit-box;
    width:100%;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    background-color:#fff;
    border-bottom:1px solid #e6e6e6;
}
.check-div {
    width:2rem;
    text-align:center;
}
.arrow-div {
   width:3rem;
   text-align:center;
   height:4rem;
   line-height:4rem;
}
.head-div {
    width:4.6rem;
    text-align:center;
    height:4rem;
}

.c-item .flex1 {
    -webkit-box-flex:1;
}
.c-item .flex2{
    -webkit-box-flex:2;
}

input.ckboxon:after, input.ckboxout:after {
    top:0.5rem;
}
.labelspan {
    position:absolute;
    top:-0.3rem;
    left:-2rem;
    width:10rem;
}
.wid100 {
    width:6.25rem;
}
