html,body{
	font-family: '微软雅黑';
	margin:0px;
	padding: 0px;
	font-size:16px;
	background-color: #fff;
	color: #343434;
	line-height: 20px;
}
ul,li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
p{
	line-height: 26px;
	text-indent: 2em;
}
.wb{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
input,button{
	font-family: '微软雅黑';
}
input{
	border: 0px;
}
*{
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
input{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
    -webkit-appearance: none;
}
a{
	text-decoration: none;
	color: #565656;
}
.fleft{
	float: left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
 display: inline-table;
}
* html .clearfix {
 height: 1%; 
}
.clearfix { 
	display: block; 
}
.clear{
	clear: both;
}
.leadheader{
	height: 42px;
	position: fixed;
	width: 100%;
	background-color: #fafafa;
	top:0px;
	left: 0px;
	color: #565656;
	z-index: 400;
	overflow: hidden;
}
.leadheader li{
	width: 25%;
	text-align: center;
	line-height: 42px;
	float: left;
}
.hot{
	margin-top: 40px;
	position: relative;
	width: 100%;
	height: 220px;
}
.hot a{
	display: block;
	width: 100%;
	height: 220px;
	overflow: hidden;
	background-color: #fafafa;
}
.hot img{
	width: 100%;
}
.hottip{
	position: absolute;
	top: 2px;
	left:-10px;
	width: 80px;
	height: 24px;
	line-height: 24px;
	background-color: rgb(255,0,0);
	color: #fafafa;
	text-align: center;
	padding: 2px 0px;
	border-radius: 0px 10px 10px 0px;
	z-index: 100;
}
.flicking_title {
    width:100%;
    height:24px;
    line-height:24px;
    position: absolute;
	bottom: 0px;
	left: 0px;
	background-color:rgba(2,2,2,.6);
	color: #eaeaea;
    z-index:50;
    font-size:14px;
}
.hottitle{	
    width:260px;
    white-space:nowrap;
    overflow:hidden; 
    text-overflow:ellipsis;
}
.newsitem{
	width: 100%;
	padding: 8px 0px;
	border-bottom: 1px solid #eaeaea;
}
.newsitem .imga{
	width:72px;
	height:72px;
	overflow: hidden;
	display: block;
}
.newsitem img{
	 height: 100%;
	/*clip:rect(0px,80px,42px,0px);*/
}
.gray{
	font-size: 14px;
	color: #888;
}
.ml10{
	margin-left: 10px;
}
.detailtitle{
	width: 100%;
	font-size: 16px;
}
.detail-a{
	width: 100%;
	height: 220px;
	overflow: hidden;
	position: relative;
	display: block;
	white-space:nowrap;  
}
.detail-a img{
	width: 100%;
}
.plr10{
	padding: 0px 10px
}
.red{
	color: rgb(255,0,0);
}
.bottom,.docomdiv{
	position: fixed;
	bottom: 0px;
	left: 0px;	
	border-top:1px solid  #d8d8d8;
	background-color: #fafafa;
	width: 100%;
	padding: 6px 0px;	
    line-height:2.2rem;
}

.bottom{
	height: 38px;
	z-index:200;
}
/*.present{
	position:absolute;
	top:8px;
	right:10%;
	height: 28px;
	width:20%;
	background-color:#2fbacc; 
	border-radius: 6px;
	color: #fafafa;
	text-align: center;
	line-height:28px;
    font-size:14px;
}*/
.docomdiv{
	height: 48px;
	z-index: 400;
	display: none;
}
.bottom input[type="text"],.docomdiv input[type="text"]{
	border-radius: 10px;	
	border: 1px solid #d8d8d8;
	text-indent: 10px;
    font-size:14px;
}
.bottom input[type="text"]{
	width: 60%;
	height: 28px;
	margin-left: 10px;
}
.docomdiv input[type="text"]{
	width:60%;
	margin-left: 20px;
	height: 32px;
	line-height: 32px;
}
.commmit{
	height: 32px;	
	position: absolute;
}
/*.share{*/
	/*width: 32px;*/
	/*background-image: url(../../../Images/share.png);*/
	/*background-repeat: no-repeat;*/
	/*background-size: 32px;*/
	/*margin-left: 20px;*/
	/*top:4px;*/
	/*left: 260px;*/
/*}*/
.commmit{
	right: 10%;
	width: 20%;
	background-color: #2fbacc;
	line-height: 32px;
	color: #fafafa;
	text-align: center;
	border-radius: 6px;
	top:8px;
}
.overlay{
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 280;
	top: 0px;
	left: 0px;
	display: none;
}
.sharediv{
	display: none;
	position: fixed;
	padding: 1rem 0;
	margin:0 10%;
	bottom: 30%;
	width: 80%;
	background-color: white;
	z-index: 500;
}
.sharediv .img-group{
	margin: 1.25rem 0;
}
.img-group img{
	display: block;
	width: 3.2rem;
	height: 3.2rem;
	margin:0 0.94rem;
}
.sharediv .s-close{
	display: block;
	height: 2.5rem;
	width: 2.5rem;
	background-image:url('../images/cancel.png');
	background-position: center;
	background-size: 100% 100%;
}
/*.sharediv{*/
	/*position: fixed;*/
	/*width: 260px;*/
	/*height: 260px;*/
	/*top:50%;*/
	/*margin-top: -135px;*/
	/*left:50%;*/
	/*margin-left: -135px;*/
	/*z-index: 300;*/
	/*background-color: #fafafa;*/
	/*border-radius: 4px;*/
	/*display: none;*/
	/*padding: 10px;*/
/*}*/
/*.sharediv img{*/
	/*width: 42px;*/
	/*height: 42px;*/
/*}*/
::-webkit-input-placeholder { color:#888; }
.ptb50{
	padding-bottom: 50px;
}
.sharetitle{
	width: 100%;
	height:30px;
	line-height: 30px;
	border-bottom: 1px dotted #d8d8d8;
	text-align: center;
}
.wb .item{
	width:33%;
	text-align: center;
	margin: 20px 0px;
}
.blue{
	color: #2fbacc;
}
.head img{
	width:2rem;
	height:2rem;
    border-radius:0.2rem;
}
.commentdiv{
	padding:0px 2px  0px 2px;
	position: relative;
}
.commentword{
	font-size: 14px;
	margin-left:3%;
    word-break:break-all;
    width:95%
}
.before{
	background-color: #f7f2e4;
	border-bottom: 1px solid #eaeaea;
	padding:0px 4px;
    border:1px solid #d8d8d8;
}
.ml32{
	margin-left: 32px;
}
.ml42{
	margin-left: 42px;
}
.relative{
	position: relative;
}
.pt50{
	padding-top: 20px;
}
.docomment{
	position: absolute;
	top:6px;
	right: 6px;
	height: 24px;
	width: 48px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
}
.mt10{
	margin-top: 10px;
}
.tabon{
	font-size: 16px;
	text-decoration: underline;
	color: #ff9900;
}
.hide{
	display: none;
}
.loading{
	height:40px;
	width: 100%;
	text-align: center;
}
.tomorecom{
	padding:8px 0px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	margin: 10px 0px;
	display: block;
	color: #ff9900
}
.imgshow{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.6);
	padding: 6px 10px;
	color: #fafafa;
}
.bigimg{
	position: fixed;
	top:20px;
	left: 0px;
	display: none;
	white-space:nowrap; 
	overflow:scroll;
	z-index: 500;
}
.close{
	position: fixed;
	bottom:20px;
	right:30px;
	border-radius: 2px;
	height:36px;
	width:36px;
	text-align: center;
	line-height: 24px;
	font-size: 18px;
	z-index: 1000;
	background: url(../images/close.png) no-repeat center;
}
.mt20{
	margin-top: 20px;
}
.block {
    display:block;
    margin-top:10px;
}
.tempdata {
    width:100%;
    text-align:center
}
.newsinfo p {
    text-indent:0em;
    line-height:20px;
}
.bb1 {
    border-bottom:1px dotted #ccc;
    padding:0px 0px 1px 0px;
}
.red {
    color:#f3464e;
}
/*顶部css*/
.bigheader {
    position:fixed;
    top:0px;
    left:0px;
    z-index:20000;
    width:100%;
    height:48px;
    background-color:#2fbacc;
    text-align:center;
    line-height:48px;
    color:#fff;
    font-size:16px;
}
.p15em {
    font-size:1.2em;
}
.back{
    height:48px;
    width:72px;
    background-image:url(/content/Images/back.png);
    background-position:left center;
    text-align:center;
    background-repeat:no-repeat;
    background-size: auto 34px;
    position:absolute;
    top:0px;
    left:10px;
}
.fright {
    position:absolute;
    top:0px;
    right:10px;
    height:48px;
    width:100px;
    text-align:right;
}
.fright  a{
    color:#fff;
}
.mt58 {
    margin-top:58px;
}
.detail img {
    margin:auto;
    max-width:100% !important;
    height:auto !important;
}
.detail p {
    text-indent:0px;
    font-size:0.85rem !important;
    color:#666 !important;
}
.nowap {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    word-break:break-all;
    text-overflow:ellipsis;
}
p {
    word-break:break-all;
}
.nodata {
    background-image: url(/content/Images/nodatacut_480_800.png);
    height:160px;
    width:160px;
    background-position:center;
    background-size:90% auto;
    margin:auto;
    text-align:center;
    margin-top:100px;
    background-repeat:no-repeat;
}
.refresh {
    height:48px;
    background-image: url(/content/Images/refresh.png);
    background-size:auto 54%;
    background-position:center right;
    background-repeat:no-repeat;
}
.tab {
    border:1px solid #ff9900;
    border-radius:0.4rem;
    height:2rem;
    line-height:2rem;
    margin:auto;
    margin-top:1.25rem;
}
.tab .selected {
    background-color:#ff9900;
    text-align:center;
    color:#fff;
}
.left {
    border-radius:0.2rem 0rem 0rem 0.2rem;
}
.right {
    border-radius:0rem 0.2rem 0.2rem 0rem;
}
.tab .selected a {
    color:#fff;
    display:inline-block;
    width:100%;
    height:100%;
}
.tab .unselect {
    text-align:center;
}
.tab .unselect a {
    display:inline-block;
    color:#ff9900;
    width:100%;
}
.widper60 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.widper62{
width: 60%;
}
.widper50 {
    width: 50%;
}
.widper54 {
    width: 54%;
}
.widper70 {
     width: 70%;
}
.widper72 {
     width:72%;
}
.ablock {
    display:block;
}
.ml4 {
 margin-left:0.25rem;
}
.widper96 {
 width:96%;
}
.mt-46 {
    margin-top:46px;
}
.g-font {
    color:#888;
}
.p14 {
    font-size:0.85rem;
}
.nomtblock {
 display:block;
}
.tcenter {
 text-align:center;
}
.y-font {
    color:#ff9900;
}
.commentdiv2 {
    -webkit-transform: translateZ(0);
    position:fixed;
    background-color:#fafafa;
    top:200px;
    left:0px;
    width:100%;
    opacity:0;
    z-index:2000;
    display:none;
    min-height:16rem;
}
.commentdiv2 textarea {
    width:88%;
    height:64%;
    min-height:10rem;
    margin-left:4%;
    margin-top:4%;
    /*border:0px;*/
    background-color:#fafafa;
    text-align:left;
    border:1px solid #e6e6e6;
    padding:2%;
    -webkit-tap-highlight-color: rgba(240,240,240,0);
    font-size:1rem;
}
.tright {
    text-align:right
}
.widper46 {
    width:46%;
}
.mlper4 {
    margin-left:4%
}
.mrper4 {
     margin-right:4%
}
.loading {
  position:absolute;
  top:50%;
  left:50%;
  width:5rem;
  height:5.5rem;
  z-index:20;
  -webkit-transform:translate(-50%,-50%);
  background-image:url(../images/loading.gif);
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position:top;
  line-height:12rem;
  text-indent:1rem;
  font-size:0.85rem;
  color:#999;
}
.noleave {
    -webkit-transform:translateX(0);
    background-size:60% auto;
    background-image:url(../images/noleave.png);
}
.nodata ,.wnodata{
     background-size:50% auto;
     background-position:center;
     background-repeat:no-repeat;
     width:60%;
     margin:2rem auto;
     text-align:center;
     height:15rem;
     -webkit-transform:translateY(30%);
     color:#999;
}
.nodata {
     line-height:30rem;
}
.break {
    word-break:break-all;
}
.commentword {
    margin-top:0.4rem;
}
.commentitem {
 border-bottom:1px solid #efefef;
 padding:0.6rem 0rem;
}
.widper10 {
    width:10%
}
.widper100 {
    width:100%
}
.widper90 {
    width:90%
}
.widper38 {
    width:38%
}
.mlper3 {
    margin-left:3%
}
.widper46 {
    width:46%;
}
.tright {
text-align:right;
}
.mtonerem {
    margin-top:1rem;
}
.box-justify{
	box-pack:justify;
	-webkit-box-pack: justify;
}
.box-align{
	box-align:center;
	-webkit-box-align: center;
}
.box-center{
	box-pack:center;
	-webkit-box-pack: center;
}
.box-orient{
	-webkit-box-orient: vertical;
	box-orient: vertical;
}
.bottom .comment{
	/*-webkit-box-flex: 2;*/
	height: 1.875rem;
	padding-left: 1rem;
	border: 1px solid #cccccc;
	border-radius: 10rem;
    width:94%;
}
.bottom .newsshare>i{
	display: block;
	margin:0 1rem;
	padding-top: 0.3rem;
	height: 1.5rem;
	width: 1.5rem;
	background-image:url('../images/share.png');
	background-position: center;
	background-size: 100% 100%;
}
