
.first {
    overflow-y: scroll;
    padding-bottom: 40px;
}

.aligncenter {
    text-align: center;
    line-height: 30px;
    color: #ff9900;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    font-size: 14px;
    color: #565656;
    width: 100%;
}

    table a {
        text-decoration: none;
        color: #565656;
    }

    table tr {
        height: 42px;
        line-height: 42px;
    }

    table th {
        height: 46px;
        line-height: 46px;
        background-color:#ffc706;
    }

    table td {
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
    }

        table td:nth-last-child(1) {
            border-right: 0px;
        }

.totrend {
    position: absolute;
    bottom:0.5rem;
    display: block;
    background-color: #38b1f7;
    height: 38px;
    line-height: 38px;
    width: 240px;
    margin-left: -120px;
    left: 50%;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
}

.circle {
    background-color: #e66193;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: 5rem;
    right: 60px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    opacity: 1;
}

.textsum {
    text-align: left;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}
.more {
    margin-top: 10px;
}
.nodata {
    width: 100%;
    margin-top: 20%;
    height: 280px;
    text-align: center;
    background-image: url(../images/nodata.png);
    background-size: auto 100% ;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay, .popoverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
    z-index: 66666;
    display: none;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    /*   justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
}

.popupdiv {
    min-height: 100px;
    width: 80%;
    left: 10%;
    top: 50%;
    margin-top: -140px;
    background-color: #fafafa;
    border-radius: 20px;
    position: fixed;
    z-index: 88888;
    /* padding-bottom: 30px;*/
}
   .popupdiv .title {
        min-height: 30px;
        width: 92%;
        padding: 10% 4%;
        text-align:center;
        text-indent: 2em;
    }
    .popupdiv .content {
        min-height: 62px;
        width: 92%;
        padding: 10% 4%;
        text-align: left;
        text-indent: 2em;
    }

    .popupdiv .foot {
        /*position:absolute;
        bottom:0px;
        left:0px;*/
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 38px;
        line-height: 42px;
        width: 100%;
        line-height: 42px;
        padding: 2px 0px;
        border-top: 1px solid #d8d8d8;
    }

    .popupdiv .cancel {
        /*position:absolute;
        left:0px;
        top:0px;*/
        float: left;
        height: 38px;
        width: 49%;
        border-right: 1px solid #d8d8d8;
        text-align: center;
    }

    .popupdiv .pop-confirm {
        /*position:absolute;
    right:0px;
    top:0px;*/
        float: right;
        height: 38px;
        width: 50%;
        text-align: center;
    }

.pop-confirm:hover {
    font-size: 16px;
}

.pop-confirm:active {
    font-size: 16px;
}

.cancel:hover {
    font-size: 16px;
}

.cancel:active {
    font-size: 16px;
}




/*.choosespec {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 1px solid #2f1e1e;
}*/

/*.coloron {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 1px solid #ff0000;
}*/






/*******************************************************/



